---
import { dict } from "../i18n";

const personalImageAlt = "Gonzalo Reynoso";

const renderBold = (text: string) =>
  text.replace(
    /\*\*(.+?)\*\*/g,
    '<strong class="font-semibold text-[#54da7a]">$1</strong>',
  );
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-200 dark:text-gray-100 md:flex-row">
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p data-lang="es" set:html={renderBold(dict.es.about.p1)} />
    <p data-lang="en" set:html={renderBold(dict.en.about.p1)} />

    <p data-lang="es" set:html={renderBold(dict.es.about.p2)} />
    <p data-lang="en" set:html={renderBold(dict.en.about.p2)} />

    <p data-lang="es" set:html={renderBold(dict.es.about.p3)} />
    <p data-lang="en" set:html={renderBold(dict.en.about.p3)} />
  </div>

  <img
    width="200"
    height="200"
    src="/picture-profile.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
